
body.develop > header > :first-child::after {
    content: "dev";
    position: absolute;
    color: white;
    font-size: 0.4em;
    font-weight: normal;
    border: 1px solid white;
    border-radius: 3px;
    background-color: red;
    margin-left: 2px;
    padding: 0px 2px;
}

body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 8em;
}

header {
    position: sticky;
    top: 0px;
    padding: 3px 2rem;
    background-color: rgb(127,230,230);
}

header * {
    display: inline-block;
    margin: 0px;
}

main {
    margin: 0px auto;
    padding: 0px 2rem;
}

footer {
    margin: 2rem auto;
    padding: 0px 2rem;
}

main > div > :first-child {
    border-top: 2px solid grey;
    padding-top: 1rem;
}

ul {
    list-style: none;
}

textarea {
    width: 20rem;
    height: 5rem;
}

button {
    cursor: pointer;
}

blockquote {
    border-left: 5px solid lightblue;
    padding-left: 1em;
    background-color: rgba(220,220,220,0.2);
}

#say > :first-child,
#timeline > :first-child,
#result > :first-child {
    margin-top: 1rem;
    margin-bottom: 0px;
}

#memo, #calender {
    margin: 0px;
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
    padding: 2px;
    font-size: 0.8rem;
}

#memo > button, #calender > button {
    display: block;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 100%;
}

#memo > ul {
    padding: 0px;
    font-size: 0.8em;
}

#memo li {
    margin-bottom: 0.8em;
    border-top: 1px solid rgba(230,230,230,0.5);
}

#memo li button {
    margin: 0px 2px;
}

#memo > div > button {
    font-size: 0.8em;
    margin: 0px 2px;
}

#imageviewer {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 5% 5%;
}

#imageviewer div, #imageviewer h5 {
    margin: 0px;
    padding: 0px;
}

#imageviewer > :first-child {
    background-color: rgb(127,230,230);
    padding: 0.2em 1em;
}

#imageviewer > :first-child > * {
    margin-right: 1rem;
    display: inline-block;
}

#imageviewer > :last-child {
    background-color: black;
    width: 100%;
    height: calc(100% - 1em);
    overflow: scroll;
}

#imageviewer > :last-child > a > img {
    border: 2px dotted white;
}

#timeline > ul,
#thread > ul,
#result > ol {
    padding-left: 0px;
}

#timeline ul > li,
#thread ul > li,
#result ol > li {
    border-top: 1px solid lightgrey;
}

#timeline > ul ul,
#thread > ul ul {
    padding-left: 1.2em;
}

#thread li > ul {
    border-left: 1px dotted lightgrey;
}

#thread > details > summary {
    font-size: 0.5em;
}

#result {
    padding-bottom: 3rem;
}

#historyviewer {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 5% 5%;
}

#historyviewer div, #historyviewer h5 {
    margin: 0px;
    padding: 0px;
}

#historyviewer > :first-child {
    background-color: rgb(127,230,230);
    padding: 0.2em 1em;
}

#historyviewer > :first-child > * {
    margin-right: 1rem;
    display: inline-block;
}

#historyviewer > :last-child {
    background-color: black;
    width: 100%;
    height: calc(100% - 1em);
    overflow: scroll;
}

#historyviewer > :last-child > ul {
    margin: 0px;
    padding: 0px;
}

#historyviewer > :last-child > ul > li {
    background-color: white;
    margin: 2px;
    padding: 1px;
}

#historyviewer .softbutton {
    font-size: 0.8rem;
}

#calender .calenderbody {
    padding: 2px 1px;
    margin: 2px 0px;
    border: 1px solid black;
}

#calender .table {
    margin-bottom: 2px;
    margin-top: 2px;
}

#calender .tablerow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#calender .tablerow > button {
    background-color: unset;
    border: none;
    font-size: 0.8em;
    padding: 0px;
}

#calender .tablerow > button[disabled] {
    cursor: default;
    color: lightgrey;
}

#calender .calendernav > form,
#calender .calendernav:last-child {
    display: flex;
    justify-content: space-between;
}

#calender .calendernav > form > *,
#calender .calendernav:last-child > * {
    font-size: 0.8em;
    margin: 2px;
}

#quicklinks > ol {
    list-style: none;
}

#quicklinks > ol > li {
    display: grid;
    grid-template-columns: 1fr 2fr 7fr;
}

#quicklinks > ol > li::before {
    content: attr(value);
    color: darkgrey;
}

#quicklinks > ol > li > a:nth-of-type(2) {
    font-size: 0.8em;
}

#quicklinks.toggleDisplayNone + hr {
    display: none;
}

li:target {
   background-color: rgba(192,255,255,0.1);
   outline: 3px solid rgba(192,255,192,0.3);
}

li > :first-child.quoteinfo {
    margin-top: 0.5em;
}

footer > .status {
    border: 1px dotted gray;
    border-radius: 5px;
    margin: 1rem auto;
    padding-top: 2rem;
}

article.setting,
div.setting {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1rem auto;
}

article.setting {
    padding-bottom: 0.5em;
}

footer > .status > *,
article.setting > *,
div.setting > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer > .status > h5,
article.setting > h5,
div.setting > h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer > .status > .form,
article.setting > form > div.form,
div.setting > form > div.form {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

footer > .status > button,
article.setting > form > button,
div.setting > form > button {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.baselink {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

.decfont {
    font-size: 0.8em;
}

.invisible {
    display: none;
}

.toggleDisplayNone {
    display: none;
}

.softbutton {
    border: none;
    background-color: rgb(224,224,224);
    border-radius: 3px;
    cursor: pointer;
    font: unset;
    padding: 0px 0.2rem;
    color: darkgrey;
}

.softbutton:active {
    outline: 2px auto black;
}

.threadlink {
    color: darkgrey;
    font-size: 0.8rem;
}

.quotelink {
    color: darkgrey;
    font-size: 0.8rem;
}

.quoteinfo {
    color: darkgrey;
    font-size: 0.8rem;
}

.quoteinfo > span {
    margin-right: 1em;
}

.datetime {
    color: grey;
    font-size: 0.8em;
}

.datetime.secret {
    color: blue;
}

.update {
    font-size: 0.8em;
    margin-left: 0.8em;
    margin-right: 0.8em;
}

.text {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 1.0rem;
    line-height: 1.2;
}

.text.deleted {
    font-size: 0.8em;
    font-style: italic;
}

.memotext {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-family: monospace;
}

.imagebutton {
    border: none;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0);
}

.thumbnail {
    padding: 0px;
    height: auto;
    width: auto;
    border: 1px dotted rgb(120,120,120);
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
}

.attachimage > * {
    font-size: 0.8rem;
    margin-right: 0.6rem;
}

.action {
    margin: 0px;
    margin-bottom: 0.5rem;
}

.reply, .edit {
    margin-bottom: 3px;
}

.reply {
    padding-left: 1.2rem;
}

.reply > :first-child, .edit > :first-child {
    font-size: 0.8rem;
}

.action > .softbutton {
    margin-right: 1rem;
    font-size: 0.8rem;
}

.images {
    font-size: 0.6rem;
    color: grey;
}

.images > * {
    margin-right: 0.6rem;
}

.errorMessage {
    margin-top: 2px;
    border: 1px solid red;
    background-color: rgba(255,200,200,0.95);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8rem;
}

.infoMessage {
    margin-top: 2px;
    border: 1px solid green;
    background-color: rgba(200,255,200,0.95);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8rem;
}

.resultmore {
    margin: 20px;
}

.totopbutton {
    position: fixed;
    right: 1px;
    bottom: 1px;
    font-size: 0.8rem;
}

#say.fixedsay {
    background-color: rgb(180,240,240);
    position: sticky;
    top: 3rem;
}

.setting > .status {
    font-size: 0.8em;
    border: 1px dotted gray;
    padding: 0.5em;
}

.setting > .status + form {
    margin-top: 1em;
}

.dig {
    margin: 0.8em;
}

.dig:not(.toggleDisplayNone) ~ div,
.dig:not(.toggleDisplayNone) ~ hr {
    display: none;
}

.dig.toggleDisplayNone ~ div > h6 {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.dirbutton, .extbutton {
    background-color: unset;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.qafiles > ul,
.qadirs > ul {
    padding: 0px;
}

.qafiles .softbutton,
.qadirs .softbutton {
    margin-right: 0.3em;
}

.files .softbutton {
    margin-right: 1px;
}

.files span {
    display: inline-block;
}

.dlfiles .exts .softbutton {
    margin-left: 1px;
}

.qafiles .softbutton,
.qadirs .softbutton,
.files .softbutton,
.dlcurpath .softbutton,
.dlcurpath .curpath {
    font-size: 0.8em;
}

.dlfiles > .exts > input[type="textbox"] {
    width: 7em;
}

.dlfiles > .files {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

.dlfiles > .exts,
.dlfiles > .files {
    font-size: 0.8em;
}

.qlorder {
    font-size: 0.8em;
}

.qlorder > * {
    display: inline;
}

.qlorder > form > input[type="number"] {
    width: 5em;
}

@media (min-width: 650px) {
    main > div > :first-child {
        border-top: none;
        padding-top: 0px;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    #memo, #calender {
        position: absolute;
        right: 2rem;
        width: calc(14 * 0.8rem);
    }

    #memo {
        background-color: rgba(255,255,255,0.9);
        margin-top: 2rem;
    }

    #messageboard {
        position: fixed;
        left: 0px;
        top: 2rem;
    }

    #messageboard > ul {
        margin: 0px;
    }
}

@media (min-width: 720px) {
    main > article,
    main > div {
        width: 640px;
        margin: 0px auto;
    }
}

@media (min-width: 1100px) {
    #memo, #calender {
        width: calc(50% - 330px - 2rem);
    }
}

@media (hover: hover) {
    .softbutton:hover {
        color: black;
    }

    .totopbutton {
        opacity: 0.6;
    }

    .totopbutton:hover {
        opacity: 1;
    }

    .thumbnail:hover {
        border: 1px solid rgba(0,0,0,0);
        outline: 1px solid black;
    }

    #timeline li > ul {
        border-left: 1px solid rgba(255,255,255,0);
    }

    #timeline li:hover > ul ,
    #thread li:hover > ul {
        border-left: 1px solid silver;
    }

}

/* z-index */

header {
    z-index: 5;
}

#imageviewer {
    z-index: 10;
}

#historyviewer {
    z-index: 9;
}

.fixedsay {
    z-index: 3;
}

@media (min-width: 600px) {
    #memo {
        z-index: 1;
    }

    #calender {
        z-index: 2;
    }

    #messageboard {
        z-index: 20;
    }
}

.secretImage {
    width: 100%;
    height: 1200px;
    overflow: scroll;    
    border: 1px solid gray;
    padding: 1px;
    background-color: black;
}

.secretImage > img {
    display: block;
    margin: 1px auto;
    padding: 1px;
    border: 1px dotted gray;
}

.secretThumnails {
    width: 100%;
    height: 120px;
    overflow-x: scroll;
    overflow-y: clip;
    border: 1px solid gray;
    display: flex;
}

.secretThumnail {
    max-width: 100px;
    max-height: 100px;
    width: min-content;
    height: min-content;
    margin: 2px;
    border: 1px dotted gray;
    cursor: pointer;
}

.secretDeleteThumnail {
    vertical-align: top;
    max-width: 100px;
    max-height: 100px;
    width: min-content;
    height: min-content;
    margin: 2px;
    border: 1px dotted gray;
}

.secretImageOperations > div {
    padding-left: 1rem;
    padding-right: 1rem;
}

.secretImageOperations > div > div {
    text-align: center;
}

.secretOperations > * {
    margin-right: 3rem;
}

.smalltext {
    font-size: small;
}